@import "hero.css";
@import "components.css";
@import "title.css";
@import "body1.css";
@import "button.css";

ol{
    counter-reset: listItem;
    list-style: none;
  }
  
  li:before {
    content: "0" counter(listItem) ".";
    counter-increment: listItem;
  }